body{
    background-color: #1E6E70;
}

.header{
    background-color: #1E6E70;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}


.header .logo{
cursor: pointer;
margin-right: auto;
}
.header .logo img{
    height: 50px;
    width: auto;
    transition: all 0.3s;
  
}
.header .logo img:hover{
    transform: scale(1.2);
}

.header .navs-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
    color: white;
    font-size: 17px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
    color: #2EAEB7;
    cursor: pointer;
}

.header .nav-links a{
    font-size: 700;
    color: white;
    
}

.menu{display: none;}

.header .menu button{
    font-weight: 700;
    color: white;
    padding: 9px 25px;
    background: #0665BA;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.s ease 0s;

}

header .btn button{
    font-weight: 700;
    color: white;
    padding: 9px 25px;
    background: #0665BA;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header .btn button:hover{
    background-color: #2EAEB7;
    color: black;
    transform: scale(1.2);
}

@media screen and (max-width: 1000px){
    .nav-links, .btn{
        display: none;
    }
    .menu{
        display: inherit;
    }

   .mm{
    padding-right: 200px;
   }

   .tt{
    font-size: 100px;
   }
   .aqui{
    display: block;
    margin:25px auto;
}

}

/* nav */

.header .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #0665BA;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    padding-bottom: 200px;

}
.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: white;
    text-decoration: none;
}
.header .overlay a:hover,
.header .overlay a:focus{
    color: #021424;
}
.header .overlay .close{
    padding-top: 20px;
    padding-right: 45px;
    font-size: 65px;
}














#caras{
    opacity: 0;
    transition-duration: .2s;
}
#cerebro{
    transition: 0.4s;
    translate: 0.4s;
}
#cerebro:hover{
    transform: scale(1.1);
    
}

.aqui{
    font-weight: 700;
    color: white;
    padding: 9px 25px;
    background: #0665BA;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.aqui:hover{
    background-color: white;
    color: black;
    transform: scale(1.2);
}


#caras:hover{
    transform: scale(1.1);
    transition: 0.4s;
    translate: 0.4s;
}
#caras1{
    opacity: 0;
    transition-duration: .2s;
}

.abs-div{
    margin-top: 170px;
}

.foter-1{
    height: 80px;
    background-color: #1E6E70;
}

#seccion2{
    margin-bottom: 200px;
    transition-duration: '1s';
    opacity: 0;
}


w
.cb:hover{
    transform: scale(1.1);
    transition: 0.4s;
    translate: 0.4s;
    
}

.logo-2{

    height: 50px;
    width: auto;
    transition: all 0.3s;
}

.logo-2:hover{
    transform: scale(1.2);
}


.c-1{
    background-color: #1E6E70;
}

@media only screen and (max-width: 600px){
    .abs-div{
        margin-top:0px;

    }
    .aqui{
        display: block;
        
    }

    .titulo-2{
        
        font-size: 30px;
    }
    .sl{
        display: block;
        
    }
    .cb{
        height: 300px;
        margin-top: 30px;
    }

    
}



